/* Основной контейнер */
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Контейнер для постов */
.container__posts {
    min-height: 500px;
    max-height: 500px;
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow-y: auto;
}
.post {
    padding: 10px;
    border: 1px solid #d9b6b6;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    box-sizing: border-box;
    position: relative; /* Для размещения даты в правом верхнем углу */
    /*  display: flex;
    flex-direction: column; */
}
/* Стиль для заголовка поста */
.post__header {
    display: flex;
    justify-content: flex-end;
}

/* Стиль для даты и времени */
.post__date {
    font-size: 12px;
    color: #888;
}
.p {
    margin: 0;
}
.post__text {
    padding-bottom: 10px;
    font-size: 18px;
}
.post__geo {
    font-size: 12px;
}
/* Контейнер для ввода текста и кнопок */
.container__input {
    display: flex;
    flex-direction: column;
    position: relative;
}

/* Поле для ввода текста */
#postInput {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Контейнер для кнопок */
.container__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#audioRecordButton:hover,
#videoRecordButton:hover {
    background-color: #0b5db5;
}

/* Кнопки записи */
#audioRecordButton,
#videoRecordButton {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}

/* Модальное окно */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal__content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.modal__buttons button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#cancelButton {
    background-color: #ccc;
    margin-right: 10px;
}

#okButton {
    background-color: #007bff;
    color: white;
}

#coordinatesInput {
    margin-top: 10px;
    min-width: 90%;
    height: 20px;
}

audio,
video {
    width: 100%;
    margin-top: 10px;
}

.post__video {
    display: flex;
    flex-direction: column;

    align-items: center; /* Центрирование по вертикали */
    justify-content: space-between; /* Пространство между элементами */
    height: 100%; /* Убедитесь, что высота контейнера позволяет центровать */
}

.videoPlayer {
    max-width: 60%;
    margin: 0 auto; /* Центрирует элемент по горизонтали */
    border-radius: 10px;
    margin: 10px;
}

.post__video .post__header {
    align-self: flex-end; /* Закрепление к нижнему краю строки */
    margin-left: auto; /* Отправляет элемент к правому краю */
}

.post__video .post__geo {
    align-self: flex-start; /* Закрепление к верхнему краю строки */
    margin-right: auto; /* Отправляет элемент к левому краю */
}
